/* Reset some default styles */
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}


/* Container for the Google Sheets data */
#content {
  padding: 16px;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  /* Subtract the height of the navigation bar */
}

/* Player picks div styles */
#player-picks {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
  z-index: 1000;
}

#player-picks h2 {
  color: #fff;
  margin-bottom: 16px;
}

#close-picks {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

#close-picks:hover {
  background-color: #6a6a6a;
}

#picks-content {
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
}


iframe {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 80px;
  /* Change this value to match the height of the #bottom nav */
  width: 100%;
}


/* Navigation bar styles */
#bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #006B54;
  display: flex;
  justify-content: center;
  /* Change this from 'space-around' to 'center' */
  align-items: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

#bottom-nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  /* Add this line */
  padding: 0 20px;
  /* Add this line to add some padding on the left and right */
  background-color: #006B54;
}

#bottom-nav li {
  text-align: center;
}

#bottom-nav a {
  display: block;
  padding: 8px;
  color: #ca9800;
  text-decoration: none;
}

#bottom-nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#close-picks {
  background-color: #ff4757;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px auto;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  width: fit-content;
}

#close-picks:hover {
  background-color: #e84139;
}


/* Table styles */
/* Table styles */
.data-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.data-table th:last-child {
  text-align: right;
}

.data-table tr {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.data-table th,
.data-table td {
  /* border: 1px solid #ccc; */
  padding: 12px;
  text-align: left;
  font-size: 15px;
}

.data-table thead {
  background-color: #006B54;
  color: #fff;
}

.data-table thead th {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.data-table tbody tr:nth-child(even) {
  background-color: #003e7e;
  color: #fff;
}

.data-table tbody tr:nth-child(odd) {
  background-color: #fff;
  color: black;
}

.data-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.data-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}






/* Responsive table */
@media screen and (max-width: 2000px) {
  .data-table {
    border: 0;
    font-size: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 50px;
    width: 100%;
  }

  .nav-text {
    display: none;
    /* Display the text by default */
  }

  #bottom-nav a {
    padding: 8px 12px;
    /* Adjust the padding to better fit the icons */
  }

  .data-table thead {
    display: none;
  }

  #player-picks {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    z-index: 1000;
  }

  #player-picks h2 {
    color: #fff;
    margin-bottom: 16px;
  }

  #close-picks {
    background-color: #4a4a4a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  #close-picks:hover {
    background-color: #6a6a6a;
  }

  #picks-content {
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
  }

  .player-details-btn {
    display: block;
    margin-top: 5px;
  }

  #close-picks {
    background-color: #ff4757;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: fit-content;
  }

  #close-picks:hover {
    background-color: #e84139;
  }

  .data-table tbody tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Horizontally center the td elements */
    align-items: center;
    /* Vertically center the td elements */
    height: 60px;
    /* Increase the height of the tr elements */
    margin-bottom: 10px;
    background-color: #a7a7a7;
    margin-bottom: 10px;
    width: auto;
  }

  .data-table td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    text-align: center;
    vertical-align: middle;

  }


  .data-table tr td:nth-child(2) {
    text-align: right;
    margin-right: 15px;
  }

  .data-table tr td:nth-child(1) {
    text-align: left;
    margin-left: 15px;
  }




  .mobile-header {
    display: block;
    font-weight: bold;
    margin-right: 8px;
  }


}

.data-table td:first-child {
  font-weight: bold;
  /* Bold the first item */

}

.data-table tr:first-child {
  text-align: left;
}

.data-table td:not(:last-child) {
  text-align: left;
}

.data-table td:last-child {
  text-align: right;
  padding-right: 15px;


}


.data-table td::before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
}

.player-details-btn {
  background-color: #ca9800;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  margin-bottom: 16px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}