<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Component Example</title>
    <!-- Import the JavaScript module -->
    <script type="module" src="../components/app-header.js"></script>
    <!-- <script type="module" src="app-footer.js"></script> -->

</head>

<body id="leaderboard">
    <!-- Use the web component -->
    <main>
        <app-header></app-header>
    </main>


</body>

</html>