/* Global reset and safe area insets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: 'Montserrat', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: #1f2937; /* This will be updated dynamically */
  font-family: Arial, sans-serif;
  overflow: auto; /* Enable scrolling on the body */
}

html {
  overflow: auto; /* Ensure scrolling on html as well */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

main {
  padding-top: calc(1rem + env(safe-area-inset-top)); /* Adjust based on your header height */
  overflow-y: scroll; /* Enable vertical scrolling */
  -webkit-overflow-scrolling: touch;  /* iOS specific */
}

/* Hide scrollbars for specific scrollable elements */
.hide-scrollbar {
  /* For WebKit-based browsers (Chrome, Safari, Opera) */
  ::-webkit-scrollbar {
    display: none;
  }

  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;

  /* For Firefox */
  scrollbar-width: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}
