:root {
    --masters-green: #006B54;
    --masters-gold: #ca9800;
    --masters-gold-hover: #a87e00;
    --blue: #003e7e;
    --red: #ee3a43;
    --red-hover: #923434;
}

.pt-custom {
    padding-top: 5rem !important;
    /* Adjust as needed */
    /* padding-bottom: 1rem !important; */
    /* Adjust as needed */
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    /* Position at the top */
    left: 0;
    /* Position at the left edge */
    width: 100%;
    /* Take the full width of the viewport */
}

footer {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    /* Position at the bottom */
    left: 0;
    /* Position at the left edge */
    width: 100%;
    /* Take the full width of the viewport */
}

#countdown-timer {
    text-decoration: underline;
    /* Add underline to the link */
    color: white;
}

.modal-content {
    margin-top: 80px;
}

button[type="submit"] {
    background-color: var(--red);
    color: white;
    border-color: var(--red);
}

.form-group label {
    margin-bottom: 0.5rem;
    /* Adjust as needed */
}

.form-group input {
    margin-bottom: 0.5rem;
    /* Adjust as needed */
}

#pillNav2 {
    background-color: #003e7e;
    /* The color you provided */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    color: transparent;
}

button.btn {
    margin-top: 1rem;
}