.pt-custom {
    padding-top: 5rem !important;
    /* Adjust as needed */
    /* padding-bottom: 1rem !important; */
    /* Adjust as needed */
}

header {
    position: fixed;
    z-index: 1000;
}

#countdown-timer {
    text-decoration: underline;
    /* Add underline to the link */
    color: white;
}

.modal-content {
    margin-top: 80px;
}

button[type="submit"] {
    background-color: #ee3a43;
    color: white;
    border-color: #ee3a43;
}