:root {
    --masters-green: #006B54;
    --masters-gold: #ca9800;
    --masters-gold-hover: #a87e00;
    --blue: #003e7e;
    --red: #ee3a43;
    --red-hover: #923434;
    --link: rgb(233, 106, 106);
    --link-white: #ffffff;
    --color-dark-blue: #282c34;
        --color-light-gray: #dcdcdc;
        --color-dark-gray: #20232a;
        --color-medium-gray: #C5C6C7;
        --color-soft-white: #ddd;
        --color-bright-red: #e03a3a;
        --color-deep-black: #000;
        --color-very-dark-gray: #222;
        --color-darker-gray: #1b1b1b;
        --color-dark-charcoal: #31353d;
        --color-dark-slate: #1f1f1f;
        --shadow-light: rgba(0, 0, 0, 0.1);
        --shadow-dark: rgba(0, 0, 0, 0.5);

        /* Additional colors for dark mode */
        --background-dark: var(--color-dark-blue); /* Dark mode background */
        --text-color-light: var(--color-light-gray); /* Light text color for dark mode */
        --border-dark: var(--color-dark-charcoal); /* Dark border color */
}

body {
    background-color: var(--background-dark);
    color: var(--text-color-light);
}


.pt-custom {
    padding-top: 5rem !important;
    /* Adjust as needed */
    /* padding-bottom: 1rem !important; */
    /* Adjust as needed */
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    /* Position at the top */
    left: 0;
    /* Position at the left edge */
    width: 100%;
    /* Take the full width of the viewport */
}

footer {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    /* Position at the bottom */
    left: 0;
    /* Position at the left edge */
    width: 100%;
    /* Take the full width of the viewport */
}

#countdown-timer {
    text-decoration: underline;
    /* Add underline to the link */
    color: white;
}

.modal-content {
    margin-top: 80px;
}

button[type="submit"] {
    background-color: var(--red);
    color: white;
    border-color: var(--red);
}

.form-group label {
    margin-bottom: 0.5rem;
    /* Adjust as needed */
}

.form-group input {
    margin-bottom: 0.5rem;
    /* Adjust as needed */
}

button.btn {
    margin-top: 1rem;
}
.card1 {
    background-color: #3c4047;
    color: #dcdcdc;
    font-weight: bold;
}

.card2 {
    background-color: #3c4047;
    color: #dcdcdc;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: #dcdcdc;
}

.table-rounded {
border-radius: 0.75rem; /* or any value you prefer */
overflow: hidden; /* this ensures that the contents of the table also adhere to the border-radius */
}

