:root {
    --masters-green: #006B54;
    --masters-gold: #ca9800;
    --masters-gold-hover: #a87e00;
    --blue: #003e7e;
    --red: #ee3a43;
    --red-hover: #923434;
    --link: rgb(233, 106, 106);
}