:root {
    --masters-green: #006B54;
    --masters-gold: #ca9800;
    --masters-gold-hover: #a87e00;
    --blue: #003e7e;
    --red: #ee3a43;
    --red-hover: #923434;
    --link: rgb(233, 106, 106);
    --link-white: #ffffff;
    --color-dark-blue: #282c34;
    --color-light-gray: #dcdcdc;
    --color-dark-gray: #20232a;
    --color-medium-gray: #C5C6C7;
    --color-soft-white: #ddd;
    --color-bright-red: #e03a3a;
    --color-deep-black: #000;
    --color-very-dark-gray: #222;
    --color-darker-gray: #1b1b1b;
    --color-dark-charcoal: #31353d;
    --color-dark-slate: #1f1f1f;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.5);

    /* Additional colors for dark mode */
    --background-dark: var(--color-dark-blue);
    /* Dark mode background */
    --text-color-light: var(--color-light-gray);
    /* Light text color for dark mode */
    --border-dark: var(--color-dark-charcoal);
    /* Dark border color */
}
/* Hide scroll bar but allow scrolling */
html,
body {
    overflow: -moz-scrollbars-none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    scrollbar-width: none;
    /* For Firefox */
    background-color: var(--background-dark);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}
